#
# Sample properties file for testing.  Use as template for 
# live file test.properties, which is by design is excluded 
# from source control
#
docbroker.host=ubuntu-mini
docbroker.good.port=30189
docbroker.bad.port=30168
docbase.good.name=sandbox
docbase.bad.name=badbox
user.name=sandbox
user.good.password=changeme
user.bad.password=badpass